.page {
    color: #6eff6e;
    margin: 0 auto;
    margin-top: 10px;
}

.header {
    text-align: center;
    border-bottom: 1px solid gray;
}

.chats {
    width: 100%;
    box-sizing: border-box;
    background-color: #2c2c2c;
    color: #fff;
    max-height: calc(100vh - 160px);
    overflow-y: auto;
    padding: 10px;
}

.chats> :not(:last-child) {
    display: flex;
    flex-direction: column;
    background-color: #2c2c2c;
    overflow: hidden;
    color: #fff;
    margin-bottom: 10px;
}

.chatHeader {
    display: flex;
    align-items: center;
}

.chatBody {
    color: #fff;
}

.userName {
    font-weight: bolder;
    font-size: 20px;
    color: brown;
}

.form {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    background-color: #2c2c2c;
    box-sizing: border-box;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.textarea {
    outline: none;
    border: none;
    display: block;
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #555;
    border-radius: 4px;
    transition: border-color 0.3s ease;
    height: 20px;
    margin-right: 5px;
    background-color: #444;
    color: #fff;
}

.button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #3498db;
    color: #fff;
}

.button:hover {
    background-color: #2980b9;
}

.button:active {
    transform: scale(0.97);
}